<div class="card">
    <div class="card-header">
        <div class="d-md-flex align-items-center justify-content-between">
            <h5 class="mb-0">{{isEdit ? 'Update' : 'Create'}} Task</h5>
            <div>
                <button class="btn btn-primary" (click)="location.back()">Back to list</button>
            </div>
        </div>
    </div>
    <div class="card-body mb-3">
        <form [formGroup]="taskCreateForm">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <app-input-text label="Counter" placeholder="Enter Counter" type="text"
                        [control]="$any(taskCreateForm.get('counter'))" />
                </div>
                <div class="col-md-6 mb-3">
                    <app-input-text label="Priority" placeholder="Enter Priority" type="number"
                        [control]="$any(taskCreateForm.get('taskPriority'))" />
                </div>
                <div class="col-md-6 mb-3">
                    <app-input-text label="Party Name" placeholder="Enter Party Name" type="text"
                        [control]="$any(taskCreateForm.get('partyName'))" />
                </div>
                <div class="col-md-6 mb-3">
                    <app-input-text label="Job Name" placeholder="Enter Job Name" type="text"
                        [control]="$any(taskCreateForm.get('jobName'))" />
                </div>
                <div class="col-md-6 mb-3">
                    <app-input-text label="Size" placeholder="Enter Size" type="text"
                        [control]="$any(taskCreateForm.get('size'))" />
                </div>
                <div class="col-md-6 mb-3">
                    <app-input-text label="Operator" placeholder="Enter Operator" type="text"
                        [control]="$any(taskCreateForm.get('operator'))" />
                </div>
                <div class="col-md-6 mb-3">
                    <app-input-text label="Transportation" placeholder="Enter Transportation" type="text"
                        [control]="$any(taskCreateForm.get('transportation'))" />
                </div>
                <div class="col-md-6 mb-3">
                    <app-input-text label="Note" placeholder="Enter Note" type="text"
                        [control]="$any(taskCreateForm.get('Note'))" />
                </div>
                <div class="col-md-6 mb-3">
                    <app-dropdown [control]="$any(taskCreateForm.get('assignUserId'))" key="firstName" value="_id"
                        [dropdownData]="userList" [clearable]="false" placeholder="Select User" [isMultiple]="false"
                        label="Assign To"></app-dropdown>
                </div>
            </div>
            <div class="row mt-4">
                <h4>Category Details</h4>
                <div class="row">
                    <div class="col-md-4 mb-3" *ngFor="let category of categoryList">
                        <span *ngIf="category.type == 'checkbox'">
                            <label for="">&nbsp;</label>
                            <span>{{category.name}}</span>
                            <input [type]="category.type" [(ngModel)]="category.isChecked"
                                [ngModelOptions]="{standalone: true}" [checked]="category.isChecked"
                                class="form-check-input p-0 mt-0 ms-2">
                        </span>
                        <span *ngIf="category.type == 'text'">
                            <label for="">{{category.name}}</label>
                            <input [type]="category.type" [(ngModel)]="category.value"
                                [ngModelOptions]="{standalone: true}" [placeholder]="'Enter ' + category.name"
                                class="form-control">
                        </span>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="card-footer text-end">
        <button class="btn btn-outline-danger me-2" (click)="location.back()">Cancel</button>
        <button class="btn btn-primary" (click)="createTask()">{{isEdit ? 'Update' : 'Create'}}</button>
    </div>
</div>