<div class="card">
    <div class="card-header">
        <div class="d-md-flex align-items-center justify-content-between">
            <h5 class="mb-0">{{isEdit ? 'Update' : 'Create'}} Task</h5>
            <div>
                <button class="btn btn-primary" (click)="location.back()">Back to list</button>
            </div>
        </div>
    </div>
    <div class="card-body mb-3">
        <form [formGroup]="taskCreateForm">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <app-input-text label="Estimated Counter" placeholder="Enter Estimated Counter" type="text"
                        [control]="$any(taskCreateForm.get('counter'))" />
                </div>
                <div class="col-md-6 mb-3">
                    <app-dropdown [control]="$any(taskCreateForm.get('taskPriority'))" key="name" value="value"
                        [dropdownData]="priorityList" [clearable]="false" placeholder="Select Priority"
                        [isMultiple]="false" label="Task Priority"></app-dropdown>
                </div>
                <div class="col-md-6 mb-3">
                    <!-- <app-input-text label="Party Name" placeholder="Enter Party Name" type="text"
                        [control]="$any(taskCreateForm.get('partyName'))" /> -->
                    <label for="">Party Name</label>
                    <input type="text" class="form-control" matInput
                        [formControl]="$any(taskCreateForm.get('partyName'))" [matAutocomplete]="auto"
                        placeholder="Enter Party Name">
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let option of partyNameList" [value]="option.partyName">
                            {{ option.partyName }}
                        </mat-option>
                    </mat-autocomplete>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="">Job Name</label>
                    <input type="text" class="form-control" matInput [formControl]="$any(taskCreateForm.get('jobName'))"
                        [matAutocomplete]="jobAuto" placeholder="Enter Job Name">
                    <mat-autocomplete #jobAuto="matAutocomplete">
                        <mat-option *ngFor="let option of jobNameList" [value]="option.jobName">
                            {{ option.jobName }}
                        </mat-option>
                    </mat-autocomplete>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="">Size</label>
                    <input type="text" class="form-control" matInput [formControl]="$any(taskCreateForm.get('size'))"
                        [matAutocomplete]="sizeAuto" placeholder="Enter Size">
                    <mat-autocomplete #sizeAuto="matAutocomplete">
                        <mat-option *ngFor="let option of sizeList" [value]="option.size">
                            {{ option.size }}
                        </mat-option>
                    </mat-autocomplete>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="">Operator</label>
                    <input type="text" class="form-control" matInput
                        [formControl]="$any(taskCreateForm.get('operator'))" [matAutocomplete]="operatorAuto"
                        placeholder="Enter Operator">
                    <mat-autocomplete #operatorAuto="matAutocomplete">
                        <mat-option *ngFor="let option of operatorList" [value]="option.operator">
                            {{ option.operator }}
                        </mat-option>
                    </mat-autocomplete>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="">Transportation</label>
                    <input type="text" class="form-control" matInput
                        [formControl]="$any(taskCreateForm.get('transportation'))"
                        [matAutocomplete]="transportationAuto" placeholder="Enter Transportation">
                    <mat-autocomplete #transportationAuto="matAutocomplete">
                        <mat-option *ngFor="let option of transportationList" [value]="option.transportation">
                            {{ option.transportation }}
                        </mat-option>
                    </mat-autocomplete>
                </div>
                <div class="col-md-6 mb-3">
                    <app-input-text label="Note" placeholder="Enter Note" type="text"
                        [control]="$any(taskCreateForm.get('Note'))" />
                </div>
                <div class="col-md-6 mb-3">
                    <app-dropdown [control]="$any(taskCreateForm.get('assignUserId'))" key="firstName" value="_id"
                        [dropdownData]="userList" [clearable]="false" placeholder="Select User" [isMultiple]="false"
                        label="Assign To"></app-dropdown>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="">&nbsp;</label>
                    <span>On Hold</span>
                    <input type="checkbox" [checked]="taskCreateForm.value.isHold" formControlName="isHold"
                        class="form-check-input p-0 mt-0 ms-2">
                </div>
                <div class="col-md-6 mb-3">
                    <label for="">&nbsp;</label>
                    <span>Is Cancel</span>
                    <input type="checkbox" [checked]="taskCreateForm.value.isCancel" formControlName="isCancel"
                        class="form-check-input p-0 mt-0 ms-2">
                </div>
            </div>
            <div class=" row mt-4">
                <h4>Category Details</h4>
                <div class="row">
                    <div class="col-md-4 mb-3" *ngFor="let category of categoryList;let catIndex = index">
                        <span *ngIf="category.type == 'checkbox'">
                            <label for="">&nbsp;</label>
                            <span>{{category.name}}</span>
                            <input [type]="category.type" (change)="updateCategoryCheck($event,catIndex)"
                                [checked]="category.isChecked" class="form-check-input p-0 mt-0 ms-2">
                        </span>
                        <span *ngIf="category.type == 'text'">
                            <label for="">{{category.name}}</label>
                            <input [type]="category.type" [(ngModel)]="category.value"
                                [ngModelOptions]="{standalone: true}" [placeholder]="'Enter ' + category.name"
                                class="form-control">
                        </span>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="card-footer text-end">
        <button class="btn btn-outline-danger me-2" (click)="location.back()">Cancel</button>
        <button class="btn btn-primary" (click)="createTask()">{{isEdit ? 'Update' : 'Create'}}</button>
    </div>
</div>