.custome-modal {
    background-color: #fff;

    .modal-dialog {
        max-width: 1220px;
        margin: 0 auto;

        .modal-content {
            background: transparent;

            .modal-header {
                padding: 24px;
                justify-content: space-between !important;
                border-bottom: 1px solid var(--stroke, #E4E4E4);

                .btn-close:focus {
                    box-shadow: none;
                }

                .modal-title {
                    color: var(--black, #1B2123);
                    font-size: 20px;
                    font-weight: 600;
                    margin-bottom: 0;
                }
            }

            .modal-body {
                background-color: #fff;
                padding: 24px;
                max-height: 500px;
                overflow: auto;
                margin-bottom: 2rem !important; 

                &::-webkit-scrollbar {
                    display: none;
                }


                .package-details {

                    .hiddenFileInput>input {
                        height: 100%;
                        width: 100;
                        opacity: 0;
                        cursor: pointer;
                    }

                    .hiddenFileInput {
                        border: 1px dashed #FFA500;
                        width: 200px;
                        padding: 40px 50px;
                        background: #FFFCF6;
                        border-radius: 5px;
                        height: 110px;
                        display: inline-block;
                        overflow: hidden;
                        cursor: pointer;
                        background: center center no-repeat;
                        background-size: 36px 36px;
                        background-image: url('../../../assets/file-upload-icon.svg');
                        object-fit: cover;
                    }
                }
            }
        }

    }
}