<label *ngIf="!!label">{{label}} <span
    *ngIf="control.errors && (control.errors['required'] || control.errors['maxlength'] || control.errors['min'] || control.errors['whitespace'] || control.errors['minlength'])"
    class="color-red">*</span></label>
<textarea class="form-control" [class]="class" [formControl]="control" trim [placeholder]="placeholder" [required]="required"
[readonly]="readonly" [rows]="rows"></textarea>

<ng-container *ngIf="displayErrors()">
    <div *ngIf="control.errors" class="color-red">

        <div *ngIf="control.errors['required'] || control.errors['whitespace']">This value is required.</div>

        <div *ngIf="control.errors['pattern']">
            Please enter a valid email address.
        </div>

        <div *ngIf="control.errors['minlength']">
            This value has {{ control.errors['minlength'].actualLength }} but must be
            at least {{ control.errors['minlength'].requiredLength }}.
        </div>

        <div *ngIf="control.errors['maxlength']">
            This value has {{ control.errors['maxlength'].actualLength }} but must be
            less than {{ control.errors['maxlength'].requiredLength }}.
        </div>

        <div *ngIf="control.errors['min']">
            This value must be greater than 0.
        </div>

        <div *ngIf="control.errors['confirmedValidator']">
            Password not match.
        </div>
    </div>
</ng-container>