<div class="row">
    <div class="col-12">
        <div class="row" [formGroup]="dashboardForm">
            <div class="col-md-3 col-12 mb-6">
                <app-dropdown [control]="$any(dashboardForm.get('userId'))" key="firstName" value="_id"
                    [dropdownData]="userList" (dropdownChanged)="getCounts()" [clearable]="true"
                    placeholder="Select User" [isMultiple]="false" label="Select User"></app-dropdown>
            </div>
            <div class="col-md-3 col-12 mb-6">
                <app-dropdown [control]="$any(dashboardForm.get('status'))" key="name" value="value"
                    [dropdownData]="taskStatus" (dropdownChanged)="getCounts()" [clearable]="true"
                    placeholder="Select Status" [isMultiple]="false" label="Select Status"></app-dropdown>
            </div>
            <div class="col-md-3 col-12 mb-6">
                <label for="flatpickr-start-date" class="form-label">Start Date</label>
                <input type="date" class="form-control" (change)="getCounts()" formControlName="startDate"
                    placeholder="start date">
            </div>
            <div class="col-md-3 col-12 mb-6">
                <label for="flatpickr-end-date" class="form-label">End Date</label>
                <input type="date" class="form-control" (change)="getCounts()" formControlName="endDate"
                    placeholder="end date">
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 order-1">
        <div class="row" *ngIf="!!taskCounts">
            <div class="col-lg-3 col-md-6 col-6 mb-6">
                <div class="card">
                    <div class="card-body text-center">
                        <h4 class="card-title">{{taskCounts.todo}}</h4>
                        <h4 class="mb-1 rounded badge bg-label-info">To Do</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-6 mb-6">
                <div class="card">
                    <div class="card-body text-center">
                        <h4 class="card-title">{{taskCounts.progress}}</h4>
                        <h4 class="mb-1 rounded badge bg-label-warning">In Progress</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-6 mb-6">
                <div class="card">
                    <div class="card-body text-center">
                        <h4 class="card-title">{{taskCounts.completed}}</h4>
                        <h4 class="mb-1 rounded badge bg-label-success">Completed</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-6 mb-6">
                <div class="card">
                    <div class="card-body text-center">
                        <h4 class="card-title">{{taskCounts.all}}</h4>
                        <h4 class="mb-1 rounded badge bg-label-primary">Total Task</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-xxl-12 order-2 mb-6">
        <div class="card">
            <div class="row row-bordered g-0">
                <div class="col-lg-12">
                    <div class="card-header">
                        <div class="card-title mb-4">
                            <h5 class="m-0 me-2">Task Details :</h5>
                        </div>
                        <div class="d-flex align-items-center gap-10">
                            <div class="input-search">
                                <label for="">Job No.</label>
                                <input class="form-control" [(ngModel)]="jobNo" (input)="searchFilter()" type="search"
                                    [placeholder]="'Search Job No...'">
                            </div>
                            <div class="input-search">
                                <label for="">Username</label>
                                <input class="form-control" [(ngModel)]="userName" (input)="searchFilter()"
                                    type="search" [placeholder]="'Search Username...'">
                            </div>
                            <div class="input-search">
                                <label for="">Estimated Counter</label>
                                <input class="form-control" [(ngModel)]="counter" (input)="searchFilter()" type="search"
                                    [placeholder]="'Search Estimated Counter...'">
                            </div>
                            <div class="input-search">
                                <label for="">Party Name</label>
                                <input class="form-control" [(ngModel)]="partyName" (input)="searchFilter()"
                                    type="search" [placeholder]="'Search Estimated Counter...'">
                            </div>
                            <div class="input-search">
                                <label for="">Job Name</label>
                                <input class="form-control" [(ngModel)]="jobName" (input)="searchFilter()" type="search"
                                    [placeholder]="'Search Estimated Counter...'">
                            </div>
                            <app-dropdown [control]="$any(dashboardForm.get('priority'))" key="name" value="value"
                                [dropdownData]="priorityList" (dropdownChanged)="getCounts()" [clearable]="true"
                                placeholder="Select Priority" [isMultiple]="false"
                                label="Select Priority"></app-dropdown>
                        </div>
                    </div>
                </div>
                <div class="col-12 p-4">
                    <app-table-dynamic [headers]="headerData" [tableData]="taskList" (clickViewIcon)="view($event)"
                        [sortableColumns]="[true,true,true,true,true,true,true,true,true,true,false]"
                        [sortKey]="['jobNo','userName','counter','partyName','jobName','size','operator','date','taskPriority','taskStatus','finalCounter']" />
                </div>
            </div>
        </div>
    </div>
</div>